* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.head {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
.padesc {
  margin-top: 15px;
  text-align: center;
}
.padesc span {
  text-decoration: underline;
  cursor: pointer;
}
